<!DOCTYPE HTML>
<html>
	<head>
		<title>studyhtml/admin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body>
		
<div id="header-admin">

<div class="top">

	<div id="logo">
		<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
		<br/><br/>
		<h1 id="title">Administrator</h1>
		<p>Administrator</p>

	</div>

	<nav id="nav">

		<ul>
			<li><a href="#" id="add-chang-link" class="skel-layers-ignoreHref"><span>เพิ่มช่าง</span></a></li>
			<li><a href="#" id="manage-chang-link" class="skel-layers-ignoreHref"><span>จัดการช่าง</span></a></li>
		</ul>
	</nav>

</div>


</div>
<!--<div id="header-admin">-->


			<div id="main-admin">

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>จัดการช่าง</h2>
							</header>

						

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
									<div class="12u$">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="12u$">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollzer.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>

//"host=localhost dbname=groceries user=ubuntu password=cloud9isawesome"